{% extends 'base.html' %}

{% block corpo %}

<div class="">
    <img src="/static/python.jpeg" class="d-block w-100" alt="Campanha de Matrículas"
        style="width: 1500px;height: 500px">
</div>
<br>

<section id="sobre" class="container my-5">
    <h2>Descrição do Curso:</h2>
    <p>
        No mundo digital atual, o domínio da programação é essencial para inovar e resolver problemas complexos.
        O Curso de Python Aplicado, ministrado pelo renomado Mestre da Tecnologia Pisco, é a oportunidade perfeita para
        você dar os primeiros passos ou aprofundar seus conhecimentos na linguagem de programação mais popular do mundo.
    </p>
</section>


<div class="container-fluid bg-warning text-secondary">
    <br>
    <h1 id="conteúdo">Conteúdo do completo dos cursos:</h1>
    <br><br>
    <div class="media text-end">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Introdução ao Python</h5>
            Neste módulo, você aprenderá os fundamentos da linguagem Python, abordando a sintaxe básica, estruturas de dados como listas, dicionários e tuplas, e controle de fluxo por meio de condicionais e loops. Este conhecimento fornecerá a base necessária para avançar em tópicos mais complexos.
        </div>
        <img class="ms-3" src="/static/imagick_convert.jpeg" alt="Imagem de exemplo genérica" width="164px" height="164px">
    </div>
    

  <br>
  

  <div class="media">
    <img class="mr-3  " src="/static/imagick_convert.jpeg" alt="Imagem de exemplo genérica" width="164px" height="164px">
    <div class="media-body">
      <h5 class="mt-0">Desenvolvimento de Aplicações Web</h5>
      Aqui, você vai colocar em prática o que aprendeu, criando projetos que vão desde scripts simples até aplicações web. Você trabalhará com frameworks como Flask e Django para desenvolver aplicações que funcionam na internet.

    </div>
  </div>

 <br>

  <div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Análise de Dados</h5>
      Aprenda a usar bibliotecas como Pandas e NumPy para trabalhar com dados. Você descobrirá como transformar dados brutos em informações úteis, criando gráficos e relatórios que ajudam a tomar decisões.

    </div>
    <img class="ml-3" src="/static/imagick_convert.jpeg" alt="Imagem de exemplo genérica" width="164px" height="164px">
  </div>


  <br>

 <div class="media">
    <img class="mr-3" src="/static/imagick_convert.jpeg" alt="Imagem de exemplo genérica" width="164px" height="164px">
    <div class="media-body">
      <h5 class="mt-0">Automação de Tarefas</h5>
    Neste módulo, você vai aprender a automatizar tarefas repetitivas, tornando seu trabalho mais eficiente. Usará ferramentas como selenium e Beautiful Soup para coletar dados da web e criar scripts que fazem tarefas automaticamente.
    </div>
  </div>


 <br>

 <div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Desenvolvimento de Aplicações Web Avançadas</h5>
      Aprofunde-se em conceitos mais avançados de desenvolvimento web, como APIs RESTful, autenticação de usuários, e integração com serviços externos. Você terá a oportunidade de trabalhar em projetos práticos que simulam situações do mundo real, preparando-o para desafios do mercado.
    </div>
    <img class="ml-3" src="/static/imagick_convert.jpeg" alt="Imagem de exemplo genérica" width="164px" height="164px">
  </div>
  <br>
  </div>
</div>

  

<br><br>


<!-- Conteúdo da Página Cursos -->
<div >
<section  class="container-fluidmy-5 text-secondary">
    <h2 class="text-center" id="niveis">Niveis</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/static/pisco1.jpeg" class="card-img-top img-fluid" alt="Informática" style="width: 550px; height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Inicial</h5>
                    <p class="card-text">você aprenderá os fundamentos da linguagem Python. O curso cobre a sintaxe básica, tipos de dados, estruturas de controle, e manipulação de listas e dicionários. O objetivo é fornecer uma base sólida para que você escreva scripts simples e resolva problemas básicos. Ao final desse módulo, você será capaz de criar pequenos programas e entender conceitos essenciais.
                    </p>
                    <br>
                    <a href="#informatica" class="btn btn-primary">Saiba Mais</a>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-start" >
            <div class="card">
                <img src="/static/python2.jpeg" class="card-img-top img-fluid" alt="Mecatrônica" style="width: 550px; height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Intermediario</h5>
                    <p class="card-text">você aprofundará seus conhecimentos em Python e explorará conceitos mais complexos. O curso inclui desenvolvimento de aplicações usando frameworks como Flask e Django, além da análise de dados com bibliotecas como Pandas e NumPy. Você aprenderá a manipular dados, criar visualizações e automatizar tarefas. Este nível prepara você para projetos desafiadores e soluções práticas.

                    </p>
                    <a href="#mecatronica" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/static/python2.jpeg" class="card-img-top img-fluid" alt="Administração" style="width: 550px; height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Avançado</h5>
                    <p class="card-text">você dominará técnicas sofisticadas em Python. O curso abrange design de APIs, integração com bancos de dados, e desenvolvimento de aplicações web escaláveis e seguras. Você explorará programação orientada a objetos e design de software. Além disso, aprenderá sobre boas práticas de desenvolvimento, testes automatizados e otimização de desempenho. Este nível é ideal para quem deseja ser um desenvolvedor Python completo.
                    </p>
                    <a href="#administracao" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<br><br><br> 

<div class="container-fluid bg-warning">
    <div class="row">
        <div class="col-sm">
            <h2>Objetivos do Curso:</h2>
<h5>
            Introdução ao Python: Aprenda os fundamentos da linguagem, incluindo sintaxe, estruturas de dados e controle
            de fluxo.
            Desenvolvimento de Aplicações: Aplique seus conhecimentos em projetos práticos que vão desde scripts simples
            até aplicações web.
            Análise de Dados: Utilize bibliotecas como Pandas e NumPy para manipulação e análise de dados, transformando
            informações brutas em insights valiosos.
            Automação de Tarefas: Descubra como automatizar tarefas repetitivas e melhorar a eficiência do seu trabalho.
            Desenvolvimento de Jogos: Explore o mundo da programação de jogos com Pygame, criando experiências
            interativas e divertidas.
        </h5> 
        </div>
    </div>
</div>
<br><br><br>

        {% endblock %}